

.edit-post-container { 
width: 100%;   
min-height: 100vh;
display: flex;
justify-content: center;
padding: 0px 10px;

}
.edit-post-content{
    max-width: 800px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.edit-post-button { 
width: 200px;
height: 45px;
border-radius: 5px;
font-size: 18px;
color :black

}

.refresh-post-button{
    background-color: transparent;
    font-size: 30px;
    font-style: bold; 
    right: 10px;

    position: absolute;
}
.refresh-post-button:hover{
    cursor: pointer;
}

.edit-post-button:hover{
    cursor: pointer;
}
.button-cont-edit{
    display: flex;
    justify-content: space-evenly;
   
}





.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked{
    color: rgb(21, 188, 127) !important;
}
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track { 
    background-color: rgba(21, 188, 127,1) !important;
}