.footer-container{
    width: 100%;
    margin-top: auto;
    display : flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;

}

.footer-menu{

display: flex;
width: 100%;
justify-content: space-evenly;
align-items: center;
max-width: 500px;
margin: 0px 20px;
margin-bottom: 50px;

}


.footer-sub-container{
  display: flex;
  flex-direction: column;
  

}




@media (min-width: 750px) {
 
.hire-text{
  margin-right: 100px;
}
   
  .footer-sub-container{
    flex-direction: row;
 
    justify-content: center;


 
  }
  }