
:root{
    --laburo-green : #15BC7F;
}



.bg-laburo-green {
    background-color:var(--la buro-green);
}
.bg-laburo-gray {
background-color: rgba(80, 80, 80, 0.1)

}
.laburo-green{
    color: var(--laburo-green);
}
.laburo-gray{
    color: rgba(80, 80, 80, 0.1)

}



.flx{
    display: flex;
}

.flx-center{
 
    justify-content: center ;
    align-items: center;
}

.flx-col {
    display: flex;
    flex-direction: column;
}

.space-btwn{
    justify-content: space-between;
}

.space-even{
    justify-content: space-evenly;
}


.txt-s1{
    font-size: 10px;
}

.txt-s2{
    font-size: 12px;
}

.txt-s3{
    font-size: 16px;
}

.txt-s4{
    font-size: 20px;
}
.txt-s5{
    font-size: 30px;
}
.txt-s6{
    font-size: 32px;
}


.mb-50{
    margin-bottom: 50px;
}

.mt-50{
    margin-top: 50px;
}

.mb-25{
    margin-bottom: 25px;
}

.mt-25{
    margin-top: 25px;
}


.link-style{
    text-decoration: none;
    color: black;
}

.txt-white{
    color:white
}

.in-dev-txt{
    width: 80%;
}

.in-dev{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.w100{
    width: 100%;
}



.hide{
    display: none !important;
}
.show{
    display: block !important ;
}

.desktop-only{
    display: none;
}



/*  mobile */


@media(min-width:750px){
 
    .mobile-only{
        display: none;
    }

    .desktop-only{
        display: block;
    }



    

  }






 