
:root{
    --laburo-green : #15BC7F;
}



.bg-laburo-green {
    background-color:var(--laburo-green);
}
.laburo-green{
    color: var(--laburo-green);
}




.landing-container{
    display: flex;
  flex-direction: column;

 

}

.black-cover {

    position: absolute ;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
   
}

.black-cover-secondary{
    position: absolute ;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
   
}


.hero{

    position: relative;
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
 
    padding: 100px 0px 60px 0px;
    /* overflow : hidden; */
    
    background-image: url("../images/hero.jpg");
    background-size: cover;

    background-position: center;


}
.hero-content{
   
  
    max-width: 300px;

    
}

.hero-content-main{
   
  
    max-width: 300px;

    
}
/* 
.hero-image{
   position: absolute ;
   height: auto;
   width: 100%;
    top: 0;
    left: 0;

    z-index: -1;
} */

.hero-text-1{
    font-size: 32px;
    color: white;
    z-index: 1;
}


.landing-text-body{

    padding: 0px 30px;
    padding-top: 50px;
  
}


.feature-squares-contianer{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    grid-template-rows: repeat(2, 1fr); 
    gap: 10px;
    margin-top: 50px;
   
}

.feature-square{
   
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background-color: rgba(80, 80, 80, 0.1);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 10px 10px;

    font-size: 16px;


}

.feature-square-title{
    margin-bottom: 10px;
}




.post-job-btn-container{
background-color: var(--laburo-green);
}


.post-job-btn2-container{
  
width: 100%;

display: flex;
align-items: center;
justify-content: center;


}


.post-job-btn2{
    background-color: var(--laburo-green);
    border-radius: 10px;
  
    
    width: 180px;
    height: 55px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sbs-img{
    height: auto;
    
}

.image-container {
    width: 100%;
    height: 100vh; /* Set the desired height for your image container */
    background-size: cover;
    background-position: center;
    position: relative;


  }




.feature-square-img{
    background-image: url("../images/icons/change.svg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  
}

.landing-text-container{
    width: 100%;
    display: flex;
    align-items: center;justify-content: center;
    
}

.landing-text-body{
    max-width: 1300px;
}

.main-txt-size{
font-size: 20px;

}
.title-txt-size{
    font-size: 30px;
}



.dr-black-cover{
 height: 100%;
 width: 100%;
 background-color: rgba(0, 0, 0, 0.3);
 position: absolute;
 top: 0;
z-index: -1;
}


.dr-content-container{
    position: absolute;
    top: 0;
    left: 0;
  width: 100%;
  height: 100%;
 display: flex;
     color: white;
    justify-content: center;
    
}
.dr-content-txt{
    width: 100%;
    display: flex;
}

.dr-content-limit {

width: 1400px;
flex-direction: column;
padding-top: 80px;
display: flex;


}
.dr-content-element{
    width: 100%;

    padding: 0px 50px;
}








  @media(min-width:750px){

 
    .landing-container{
        max-width: none;
        overflow-x: hidden;
    }

    .main-txt-size{
        font-size: 30px;
        }
    .title-txt-size{
            font-size: 56px;
        }
        
  
   
   
    .hero{
 
    width: 100vw;
    height: 100vh;
    background-image: url("../images/hero.jpg");
    
 
   background-size: 150%;
    background-position: 10% 60%;
        align-items: center;
        justify-content: center;
    flex: none;
    background-repeat: no-repeat;
   
    color: white;


    }



    .black-cover {

        position: absolute ;
        top: 0px;
        background-color: rgba(0, 0, 0, 0.4);

        height: 100%;
        width: 100%;
        
    }

   

    .hero-text-1{
        font-size: 64px;
       margin-bottom:50px;
    }
    /* max width */
    .hero-content-main{
        max-width: none;
        text-align: center;
        
    }
    .hero-content{
        max-width: 500px;
        text-align: center;
        
    }

 


    .feature-squares-contianer{
        display: grid;
        grid-template-columns: repeat(4,  1fr);
        grid-template-rows:auto ; /* Auto-fit columns with minimum width of 0 and equal distribution */
        gap: 50px;
        margin-top: 50px;
        justify-content: space-between; /* Distribute grid items evenly along the row axis */
        align-items: center;
    }

    


    
  }




