.uploader-container{
    display: flex;
    justify-content: center;
    align-items: center;
width: 100%;
border: 2px solid black ;
border-radius: 10px;
padding: 10px 20px;
font-size: 18px;
color: black;
background-color: transparent
}

.uploader-container:hover{
    opacity: 0.4;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1
    );

}

.erase-doc-button{
    margin-left: 5px;
   color :red;
   background-color: transparent;
}

.erase-doc-button:hover{
    cursor: pointer;
    opacity: 0.4;

}